@font-face {
  font-family: "Mona Sans";
  src: url("../fonts/Mona-Sans.woff2") format("woff2 supports variations"),
    url("../fonts/Mona-Sans.woff2") format("woff2-variations");
  font-weight: 200 900;
  font-stretch: 75% 125%;
}

body.no-scroll {
  overflow: hidden;
}

html,
button {
  font-family: "Mona Sans";
}

body[data-theme="dark"] {
  background-color: #171717;
}

body[data-theme="light"] {
  background-color: #f1f1f1;
}
