// Color variables
$black: #171717;
$grey: #242424;
$grey-light: #b7b7b7;
$white: #ffffff;

.wrapper {
  width: calc(100% - 120px);
  margin: auto;
}

a,
button {
  -moz-transition: all 0.25s ease-out;
  -webkit-transition: all 0.25s ease-out;
  -i-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}

a {
  text-decoration: none;
}
