@import "variables";

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
}

a,
button,
img {
  -moz-transition: all 0.25s ease-out;
  -webkit-transition: all 0.25s ease-out;
  -i-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}

a {
  text-decoration: none;
}

.logo {
  font-weight: 900;
  font-size: 24px;
}

[data-dark] {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  a {
    color: $white;
  }
  // might change to *

  header {
    background-color: $grey-dark;

    nav {
      ul {
        li {
          a {
            &:hover {
              border-color: $white;
            }
          }
        }
      }
    }
  }

  footer {
    background-color: $grey-dark;

    .footer-top {
      .socials {
        ul {
          li {
            a {
              &:hover {
                img {
                  filter: invert(40%) sepia(40%) saturate(40%) hue-rotate(90deg)
                    brightness(130%) contrast(100%);
                }
              }

              img {
                filter: invert(100%) sepia(100%) saturate(100%)
                  hue-rotate(90deg) brightness(100%) contrast(100%);
              }
            }
          }
        }
      }
    }

    .footer-bottom {
      nav {
        ul {
          li {
            .footer-link-title {
              &:hover {
                border-color: $white;
              }
            }
            .footer-link {
              color: $grey-light;

              &:hover {
                border-color: $grey-light;
              }
            }
          }
        }
      }
    }

    .copyright {
      background-color: $grey;
    }
  }
}

[data-light] {
}

.wrapper {
  width: 90%;
  margin: auto;
}
