// Color variables
$black: #171717;
$grey-dark: #1e1e1e;
$grey: #242424;
$grey-light: #b7b7b7;
$white: #fafafa;

// Media Queries
$mqTablet: 1024px;
$mqMobile: 640px;

// Mixins
@mixin animation {
  -moz-transition: all 0.25s ease-out;
  -webkit-transition: all 0.25s ease-out;
  -i-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
